@model AcademiaoUltimo.Models.IndexViewModel
@{
    ViewBag.Title = "Gerenciar";
}

<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>

    <p class="text-success">@ViewBag.StatusMessage</p>
    <div>
        <h4>Alterar as configurações de conta</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>Senha:</dt>
            <dd>
                [
                @if (Model.HasPassword)
                {
                    @Html.ActionLink("Alterar sua senha", "ChangePassword")
                }
                else
                {
                    @Html.ActionLink("Criar", "SetPassword")
                }
                ]
            </dd>
            <dt>Logins externos:</dt>
            <dd>
                @Model.Logins.Count [
                @Html.ActionLink("Gerenciar", "ManageLogins") ]
            </dd>
            <dt>Pagamentos:</dt>
            <dd>
                @if (Model.Pagamentos != null && Model.Pagamentos.Any())
                {
                    <ul>
                        @foreach (var pagamento in Model.Pagamentos)
                        {
                            <li>@pagamento.PlanoId - @pagamento.UsuarioId - @pagamento.DataPagamento.ToString("d")</li>
                        }
                    </ul>
                }
                else
                {
                    <p>Nenhum pagamento encontrado.</p>
                }
            </dd>
        </dl>
    </div>
</main>
