@model AcademiaoUltimo.Models.Treino

@{
    ViewBag.Title = "Detalhes do Treino";
}

<style>
    .page-title {
        font-size: 1.8rem;
        color: #007bff;
        margin-bottom: 20px;
        font-weight: bold;
        text-align: center; 
    }

    .details-container {
        max-width: 600px; 
        margin: 20px auto; 
        border: 1px solid #dee2e6;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    }

    .dl-horizontal dt {
        text-align: left; 
        font-weight: bold;
    }

    .dl-horizontal dd {
        margin-left: 0; 
    }

    
    .action-links {
        text-align: center; 
        margin-top: 20px;
    }
</style>

<h2 class="page-title">Detalhes do Treino</h2>

<div class="details-container">
    <h4>Treino</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Usuario.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Usuario.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataTreino)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataTreino)
        </dd>
    </dl>
</div>

<div class="action-links">
    <p>
       
        @Html.ActionLink("Voltar para a Lista", "Index", null, new { @class = "btn btn-secondary" })
    </p>
</div>
