@model AcademiaoUltimo.Models.Pagamento

@{
    ViewBag.Title = "Detalhes do Pagamento";
}

<div class="container mt-5">
    <h2 class="text-center">Detalhes do Pagamento</h2>

    <div class="card">
        <div class="card-header">
            <h4>Informações do Pagamento</h4>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Plano.Nome)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Plano.Nome) @* Exibe o nome do plano *@
                </dd>

                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Usuario.Nome)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Usuario.Nome) @* Exibe o nome do usuário *@
                </dd>

                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.DataPagamento)
                </dt>
                <dd class="col-sm-9">
                    @String.Format("{0:dd/MM/yyyy}", Model.DataPagamento) @* Formata a data do pagamento *@
                </dd>
            </dl>
        </div>
    </div>

    <div class="text-center mt-4">
        <a class="btn btn-primary" href="@Url.Action("Edit", new { id = Model.Id })">Editar</a>
        <a class="btn btn-secondary" href="@Url.Action("Index")">Voltar para a Lista</a>
    </div>
</div>
