@model AcademiaoUltimo.Models.ExternalLoginConfirmationViewModel
@{
    ViewBag.Title = "Registrar";
}
<style>
    body {
        font-family: 'Arial', sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 20px;
    }

    main {
        max-width: 600px;
        margin: auto;
        background: #fff;
        border-radius: 8px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
    }

    h2 {
        color: #007bff;
        text-align: center;
    }

    .btn {
        width: 100%;
        padding: 10px;
        font-size: 16px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

        .btn:hover {
            background-color: #0056b3;
        }

    .text-info {
        margin: 20px 0;
        font-size: 14px;
        color: #6c757d;
        text-align: center;
    }

    hr {
        margin: 20px 0;
    }
</style>

<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>
    <h3>Associe a sua conta @ViewBag.LoginProvider.</h3>

    @using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
    {
        @Html.AntiForgeryToken()

        <h4>Formulário de associação</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <p class="text-info">
            Você se autenticou com êxito com <strong>@ViewBag.LoginProvider</strong>.
            Insira um nome de usuário para este site abaixo e clique no botão Registrar para concluir
            o logon.
        </p>
        <div class="row">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 col-form-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row">
            <div class="offset-md-2 col-md-10">
                <input type="submit" class="btn" value="Registrar" />
            </div>
        </div>
    }
</main>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
